body {
	background-image: url('chalkboard.png');
	background-size: cover;

}

.logo-banner {
	opacity: 80%;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

footer {
	background-color: #ffa63f;
	width: 100%;
	height: 30px;
	padding: 20px;
	font-size: 10px;
	margin: auto;
	font-family: open-sans, arial, helvetica;

}

nav {
	background-color: #ffa63f;
	width: 100%;
	height: 30px;
	padding: 20px;
	font-size: 20px;
	margin: auto;
	font-family: open-sans, arial, helvetica;

}

h1 {
	font-family: veneer, helvetica, arial;
	color: #e90000;
	text-align: center;
	font-size: 4rem;

}

p {
	font-family: arial, helvetica, sans-serif;
	text-align: center;

}

tr {
	border: 1px thin black;

}

.menu {
	background-color: #ffa63f;
	width: 1000px;
	padding: 10px;
	border: 1px black;
	margin: auto;

}

.text-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 2px solid #e90000;
    border-radius: 8px;
    box-sizing: border-box;
}

.fire-list {
    list-style: none;
    padding-left: 0;
}

.fire-list li::before {
    content: "🔥";
    margin-right: 10px;
}

.slideshow-container{
    width:45%;
    max-width:600px;
    height:600px;
    position:relative;	
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    display:none;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.text-container {
    width: 500px;
    margin-left: 40px;
}

.text-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.text-box{
    width:45%;
}

.contact-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    width:90%;
    margin:40px auto;
    gap:40px;
}

.text-box textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 2px solid #e90000;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
}

.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

button {
	width: 165px;
	height: 62px;
	cursor: pointer;
	color: white;
	font-size: 17px;
	border-radius: 1rem;
	border: none;
	position: relative;
	background: #e90000;
	transition: 0.1s;

button: :after {
	content: '';
	width: 100%;
	height: 100%;
	background-image: radial-gradiant( circle farthest-corner at 10% 20%, (#ffa63f) 17.8%, (#e90000) 100.2% );
	filter: blur(15px);
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
}

button:active {
	transform: scale(0.9) rotate(3deg);
	background: radial-gradient( circle farthest corner at 10% 20%, (#ffa63f) 17.8%, (#e90000) 100.2% );
	transition: 0.5s;
}

table {
	width: 40%;
	border-collapse: collapse;
}

table:even {
	background-color: #ffc07f
}

table:odd {
	background-color: #ffe5aa
}
	
th, td {
	padding: 15px;
	text-align: center;
	font: 10px;
}

