body {
	background-image: url('chalkboard.png');
	background-size: cover;

}

header {
	opacity: 80%;
	width: 100%;
	font-size: 20px;
	font-family: open-sans, 


}

footer {
	background-color: #ffa63f;
	width: 1920px;
	height: 50px;
	padding: 10px;
	margin: auto;

}

nav {
	background-color: #ffa63f;
	height: 50px;
	padding: 20px;
	font-size: 20px;
	font-family: open-sans, arial, helvetica;

}

h1 {
	font-family: veneer, helvetica, arial;
	color: #e90000;
	text-align: center;
	font-size: 4rem;

}

p {
	font-family: arial, helvetica, sans-serif;

}

tr {
	border: 1px thin black;

}

.menu {
	background-color: #ffa63f;
	width: 1000px;
	padding: 10px;
	border: 2px black;
	margin: auto;

}

tr:nth-child(odd) {
	background-color: #ffc07f;

}

tr:nth-child(even) {
	background-color: #ffe5aa;

}

.text-box {
	width: 300px;
	margin: 40px;
	padding: 35px;
	border-radius: 15px;
	border: 3px;

}

.fire-list {
    list-style: none;
    padding-left: 0;
}

.fire-list li::before {
    content: "🔥";
    margin-right: 10px;
}

.slideshow-container {
    width: 70%;
	height: 700px;
    max-width: 700px;
    margin: 40px auto;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

.text-container {
    width: 500px;
    margin-left: 40px;
}
